/* змінні :) */
:root {
  --secondary-font: Raleway, sans-serif;
  --color-nav-element: #ff6c00;
  --primary-text-color-theme-light: #303030;
  --primary-text-color-theme-dark: #fff;
  --secondary-text-color-theme-light: #555;
  --secondary-text-color-theme-dark: #9da4bd;
  --third-text-color-theme-dark: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-dark,
.suptitle-theme-light {
  --suptitle-font-size: 11px;
  --suptitle-font-weight: 600;
}

.title-theme-light,
.title-theme-dark {
  --title-font-size: 42px;
  --title-letter-spacing: 2.1px;
}

/* Скидання стилів */

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* BODY */
body {
  font-family: Open Sans, sans-serif;
  background-color: grey;
}

/* CONTAINER */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$ COMPONENTS $$$$$$$$$$$$$$$$$$$$$$$$$*/

.btn-booking {
  color: var(--primary-text-color-theme-dark);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #ff6c00;
}

.btn-hover:hover,
.btn-hover:focus {
  background-color: #ff6c00;
}

.media-list-link {
  color: var(--primary-text-color-theme-light);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--color-nav-element);
}

.suptitle-theme-dark {
  color: var(--third-text-color-theme-dark);
  font-size: var(--suptitle-font-size);
  font-weight: var(--suptitle-font-weight);
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
  font-size: var(--suptitle-font-size);
  font-weight: var(--suptitle-font-weight);
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.header {
  padding: 14px 17px 185px 0;
}

.menu-link {
  color: var(--primary-text-color-theme-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-nav-element);
}

.header-phone-number {
  color: var(--primary-text-color-theme-dark);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-right: 43px;
}

.title-theme-light {
  color: var(--primary-text-color-theme-light);
  font-family: var(--secondary-font);
  font-size: var(--title-font-size);
  line-height: normal;
  letter-spacing: var(--title-letter-spacing);
  margin-bottom: 20px;
}

.title-theme-dark {
  color: var(--primary-text-color-theme-dark);
  font-family: var(--secondary-font);
  font-size: var(--title-font-size);
  line-height: normal;
  letter-spacing: var(--title-letter-spacing);
  margin-bottom: 44px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ HERO $$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.hero {
  padding: 0 526px 40px 27px;
}

.hero-title {
  color: var(--primary-text-color-theme-dark);
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}

.hero-description {
  color: var(--secondary-text-color-theme-dark);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$ ABOUT $$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.about {
  padding: 138px 100px 120px 0;
}

.about .title-theme-light {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-description-first {
  color: var(--secondary-text-color-theme-light);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
  margin-bottom: 20px;
}

.about-description-second {
  color: var(--secondary-text-color-theme-light);
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.28px;
  margin-bottom: 42px;
}

.about .btn-booking {
  color: var(--primary-text-color-theme-light);
}

.about .btn-booking:hover,
.about .btn-booking:focus {
  color: #fff;
}

/*$$$$$$$$$$$$$$$$$$$$$ SERVICES AND PRICES $$$$$$$$$$$$$$$$$$$$$*/

.services-prices {
  padding: 120px 0;
}

.services-prices-table-left {
  padding: 30px 21px 30px 20px;
}

.services-prices-table-right {
  padding: 30px 22px 30px 20px;
}

.table-td-left,
.table-td-right {
  color: var(--secondary-text-color-theme-dark);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.table-td-right {
  text-align: right;
}

.services-prices > .btn-booking {
  background-color: #ff6c00;
  margin-top: 42px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$ WHY US $$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.why-us {
  padding: 120px 101px 120px 69px;
}

.why-us-item-number {
  color: var(--primary-text-color-theme-light);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.why-us-sup {
  color: #ff6c00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.why-us-item-text {
  color: var(--primary-text-color-theme-light);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
}

.why-us-description {
  color: var(--secondary-text-color-theme-light);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$ OUR BARBERS $$$$$$$$$$$$$$$$$$$$$$$$$*/

.barbers {
  padding: 120px 0;
}

.barbers > .title-theme-light {
  margin-bottom: 42px;
}

.barbers-img {
  margin-bottom: 30px;
}

.barbers-name {
  color: var(--primary-text-color-theme-light);
  text-align: center;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
}

.barbers-item-text {
  color: #ff6c00;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}

/* -$$$$$$$$$$$$$$$$$$$$$$$$$ EXAMPLES $$$$$$$$$$$$$$$$$$$$$$$$$ */

.examples {
  padding: 120px 0;
}

.examples > .suptitle-theme-light {
  margin-bottom: 42px;
}

.examples-title {
  display: none;
}

/* booking-contacts */

.booking-contacts {
  padding: 130px 0 120px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$ BOOKING $$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.booking > .btn-booking {
  padding: 12px 62px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$ CONTACTS $$$$$$$$$$$$$$$$$$$$$$$$$$*/

.contacts-div > .title-theme-dark {
  margin-bottom: 40px;
}

.street {
  font-weight: 700;
}

.email {
  text-decoration-line: underline;
}

.contacts-link {
  color: var(--secondary-text-color-theme-dark);
  font-size: 18px;
  font-style: normal;
  line-height: 1.66;
  letter-spacing: 0.36px;
  display: block;
}

.contacts-link:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-text {
  color: var(--primary-text-color-theme-dark);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 70px 0 20px;
}

.contacts-text-time {
  color: var(--secondary-text-color-theme-dark);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$ FOOTER $$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.footer {
  padding: 56px 0 56px 16px;
}

.footer-title {
  display: none;
}

.copyright {
  color: var(--secondary-text-color-theme-dark);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
